# BANK ACCOUNTS
A Bank Account has a balance, an interest rate and a monthly fee

In [1]:
class BankAccount:
    def __init__(self, amount, interest, fee, balance=0):
        self.interest = interest
        self.amount = amount
        self.fee = fee
        self.balance = balance
        
    def finishMonth(self):
        interest = (self.amount*self.interest)/12
        self.balance = self.amount+interest-self.fee
        return self.balance
    
    def deposit(self, amount):
        self.balance += amount
        return self.balance
    
    def withdraw(self, amount):
        self.withdraw = amount
        self.balance -=self.withdraw
        return self.balance

### bank accounts class test

In [2]:
w = BankAccount(1000, 0.12,50)
print("Finish Month", w.finishMonth())
print("Deposit",w.deposit(100))
print("Withdraw",w.withdraw(50))

Finish Month 960.0
Deposit 1060.0
Withdraw 1010.0

# Bank
A Bank contains many bank accounts. A bank associates each bank account with a 10 digit number known as a bank account number. In OOP, this is called encapsulation.

In [3]:
import pandas as pd
bank = pd.DataFrame({'account_number':[1234567890,2345678901,3456789012],
        'amount':[1000,2000,30]})
bank

   account_number  amount
0      1234567890    1000
1      2345678901    2000
2      3456789012      30

In [82]:
import numpy as np
class Bank:
    def __init__(self,bank):
        self.bank = bank
        
    def withdraw(self,account_number,amount):
        self.account_number = account_number
        self.amount = amount
        a = self.bank[self.bank.account_number == self.account_number].amount
        if self.account_number != int(self.bank[self.bank.account_number ==self.account_number].account_number):
            raise Exception('Invalid Account Number')
        if self.amount > float(a):
            raise Exception('insufficient funds')
        df = self.bank[self.bank.account_number==self.account_number]
        new_df = df.replace(df.amount.values,a-self.amount)
        self.bank.update(new_df)
        
        return 'Balance',a-self.amount
    
    
    def deposit(self,account_number,amount):
        self.account_number = account_number
        self.amount = amount
        a = self.bank[self.bank.account_number == self.account_number].amount
        if self.account_number != int(self.bank[self.bank.account_number ==self.account_number].account_number):
            raise Exception('Invalid Account Number')
        if self.amount > float(a):
            raise Exception('insufficient funds')
        balance =a + self.amount
        df = self.bank[self.bank.account_number==self.account_number]
        new_df = df.replace(df.amount.values,balance)
        self.bank.update(new_df)
        return 'Balance', balance    
    
    def transfer(self,fromBankAccountNumber,toBankAccountNumber, amount):
        self.fromBankAccountNumber = fromBankAccountNumber
        self.toBankAccountNumber = toBankAccountNumber
        self.amount = amount
        if self.fromBankAccountNumber != int(self.bank[self.bank.account_number ==self.fromBankAccountNumber].account_number):
            raise Exception('Invalid Account Number')
        if self.toBankAccountNumber != int(self.bank[self.bank.account_number ==self.toBankAccountNumber].account_number):
            raise Exception('Invalid Account Number')
        to_df = self.bank[self.bank.account_number == self.toBankAccountNumber]
        new_to_df = to_df.replace(to_df.amount.values,to_df.amount+self.amount)
        self.bank.update(new_to_df)
        from_df = self.bank[self.bank.account_number == self.fromBankAccountNumber]
        new_from_df = from_df.replace(from_df.amount.values,from_df.amount-self.amount)
        self.bank.update(new_from_df)
        return 'Balance', int(self.bank[self.bank.account_number == self.toBankAccountNumber].amount)+self.amount

### bank class test

In [83]:
a = Bank(bank)

In [84]:
a.withdraw(1234567890,20)

('Balance',
 0    847.0
 Name: amount, dtype: float64)

In [85]:
a.deposit(2345678901,12)

('Balance',
 1    2048.0
 Name: amount, dtype: float64)

In [86]:
a.transfer(3456789012,1234567890,30)

('Balance', 907)

# customers

In [9]:
df = pd.DataFrame({'account_number':[1234567890,2345678901,3456789012],
        'amount':[1000,2000,30],'pin':[1234,2341,3412]})
df

   account_number  amount   pin
0      1234567890    1000  1234
1      2345678901    2000  2341
2      3456789012      30  3412

In [50]:
class up_bank:
    def __init__(self, df):
        self.df = df
        
    def setpassword(self,bankAccountNumber,secretPassword,newPassword,confPassword):
        self.bankAccountNumber = bankAccountNumber
        self.secretPassword = secretPassword
        self.newPassword = newPassword
        self.confPassword = confPassword
        if self.newPassword != self.confPassword:
            raise Exception("newPassword and confPassword not the same")
        new_df = self.df[self.df.account_number==self.bankAccountNumber].replace(self.secretPassword,self.newPassword)
        self.df.update(new_df)
        return "Password change successful"
    
    def withdraw(self,bankAccountNumber,amount,secretPassword):
        self.__bankAccountNumber = bankAccountNumber
        self.amount = amount
        self.__secretPassword = secretPassword
        account = self.df[self.df.account_number == self.__bankAccountNumber]
        if self.__bankAccountNumber != int(account.account_number):
            raise Exception('Invalid Account Number')
        if self.__secretPassword != int(account.pin):
            raise Exception('Incorrect password')
        balance = account.amount - self.amount
        new_df = account.replace(account.amount.values, balance)
        self.df.update(new_df)
        return balance
        
    def deposit(self,bankAccountNumber,amount):
        self.bankAccountNumber = bankAccountNumber
        self.amount = amount
        account = self.df[self.df.account_number == self.__bankAccountNumber]
        balance = account.amount + self.amount
        new_df = account.replace(account.amount.values, balance)
        self.df.update(new_df)
        return 'Balance', account.amount+self.amount
        
    def transfer(self,fromBankAccountNumber,toBankAccountNumber,amount,secretPassword):
        self.secretPassword = secretPassword        
        self.fromBankAccountNumber = fromBankAccountNumber
        self.toBankAccountNumber = toBankAccountNumber
        self.amount = amount                
        if self.fromBankAccountNumber != int(self.df[self.df.account_number ==self.fromBankAccountNumber].account_number) or self.secretPassword != int(self.df[self.df.account_number ==self.fromBankAccountNumber].pin):
            raise Exception('Invalid Account Number or SecretPassword')
        if self.toBankAccountNumber != int(self.df[self.df.account_number ==self.toBankAccountNumber].account_number):
            raise Exception('Invalid Account Number')        
        to_df = self.df[self.df.account_number == self.toBankAccountNumber]
        from_df = self.df[self.df.account_number == self.fromBankAccountNumber]                        
        to_balance = int(to_df.amount)+self.amount
        from_balance = int(from_df.amount)-self.amount
        self.df.update(to_df.replace(to_df.amount.values, to_balance))
        self.df.update(from_df.replace(from_df.amount.values, from_balance))        
        return 'Balance', from_balance, self.df

### customers class test

In [51]:
b = up_bank(df)

In [52]:
b.setpassword(1234567890,1234,9876,9876)

'Password change successful'

In [53]:
b.withdraw(2345678901,1230,2341)

1    7082.0
Name: amount, dtype: float64

In [54]:
b.deposit(1234567890, 5001)

('Balance',
 1    12083.0
 Name: amount, dtype: float64)

In [55]:
b.transfer(1234567890,2345678901,100,9876)

('Balance',
 900,
    account_number   amount     pin
 0    1.234568e+09    900.0  9876.0
 1    2.345679e+09  12183.0  2341.0
 2    3.456789e+09     30.0  3412.0)