In [1]:
class banku:
    def __init__(self):
        self.__updateSoftware()
        
    def drive(self):
        print('update software')
    
    def __updateSoftware(self):
        print('updating software')

In [2]:
a = banku()
a.drive()

updating software
update software

In [3]:
class bank:
    def __init__(self, bank_account_number, amount):
        self.bank_account_number = bank_account_number
        self.amount = amount
#         self.__withdraw()
#         self.__deposit()
    def set_password(self, password):
        self.password = input('')
        
    def withdraw(self):
        self.withdraw_amount = float(input('amount'))
        self.amount = self.amount - self.withdraw_amount
        return "Bank_account_number",self.bank_account_number,"bank_balance", self.amount
        
    def deposit(self):
        self.deposit = float(input('amount'))
        self.amount = self.deposit + self.amount
        return "Bank_account_number",self.bank_account_number,"bank_balance", self.amount
    
    def transfer(self):
        self.transferred = float(input('amount'))
        self.amount = self.amount - self.transferred
        self.to_bank_account_number = int(input('acc number'))
        return "from_bank_account_number", self.bank_account_number, "to_bank_account_number", self.to_bank_account_number,"Balance",self.amount,"transferred_amount",self.transferred

In [4]:
b = bank(1234567890, 0)

In [5]:
b.withdraw()

amount123

('Bank_account_number', 1234567890, 'bank_balance', -123.0)

In [6]:
b.deposit()

amount10000

('Bank_account_number', 1234567890, 'bank_balance', 9877.0)

In [7]:
b.withdraw()

amount124536

('Bank_account_number', 1234567890, 'bank_balance', -114659.0)

In [8]:
# updated bank
import getpass
class up_bank:
    def __init__(self, bank_account_number, amount):
        self.bank_account_number = bank_account_number
        self.amount = amount
    def set_password(self, password):
        self.password = input('')
        
    def withdraw(self):     # secret_password
        self.secret_password = 12345
        x = int(getpass.getpass('password'))
        if x != self.secret_password:
            raise Exception("Incorrect password")
        self.withdraw_amount = int(input('amount'))
        if self.amount < self.withdraw_amount:
            return 'insufficient funds'
        self.amount = self.amount - self.withdraw_amount
        return "Bank_account_number",self.bank_account_number,"bank_balance", self.amount
    
    def deposit(self):     # secret_password
        self.deposit = float(input('amount'))
        self.amount = self.deposit + self.amount
        return "Bank_account_number",self.bank_account_number,"bank_balance", self.amount
    

    def transfer(self):
        self.secret_password = 12345
        x = int(getpass.getpass('password'))
        if x != self.secret_password:
            raise Exception("Incorrect password")
        self.transferred = float(input('amount'))
        if self.amount < self.transferred:
            return 'insufficient funds'
        self.amount = self.amount - self.transferred 
        self.to_bank_account_number = float(input('acc number'))
        return "from_bank_account_number", self.bank_account_number, "to_bank_account_number",self.to_bank_account_number,"transferred_amount",self.transferred,"balance",self.amount

In [9]:
import pandas as pd
dictt = {'balance': [1234,5423,1255,1244],'acc_number':[1234567890,2345678901,3456789012,4567890123],'password':[12345,23451,34512,45123]}
df = pd.DataFrame.from_dict(dictt)
df

   balance  acc_number  password
0     1234  1234567890     12345
1     5423  2345678901     23451
2     1255  3456789012     34512
3     1244  4567890123     45123

In [67]:
import getpass
class bank:
    def __init__(self, balance=0):
        self.balance = balance
    def balance(self):
        self.df = pd.DataFrame.from_dict(dictt)
        self.balance = self.df[self.df.acc_number==int(input())].iloc[:,:1].values and self.df[self.df.password==int(input())].iloc[:,:1].values
        print(self.balance)
    def withdraw(self):
        self.withdraw = int(input())
        self.balance = self.balance - self.withdraw 
        return self.balance
    def deposit(self):
        self.deposit = int(input())
        self.balance = self.balance - self.deposit 
        return self.balance

In [68]:
a = bank()
a.balance()

TypeError: 'int' object is not callable

In [45]:
a.withdraw()

12455

array([[-11221]])

In [42]:
self.df

NameError: name 'self' is not defined

In [ ]:
df.iloc[:,:1]

In [23]:
import getpass